---
layout: blank
---
<div style="float:right; text-align:right;">
  <h2><a href="./"title="by Sonny Kothapally">weblog</a></h2>
  <small>by <a href="/">Sonny Kothapally</a></small>
</div>
<div style="max-width:30em;">
  <h1>The Archives</h1>
  <p><strong><a href="about">What is going on here?</a></strong></p>
  {% for category in site.categories %}
    <h2>{{ category | first }}</h2>
      <ul>
      {% for post in category.last %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
  {% endfor %}
  <p><strong>Even more:</strong> <a href="fullarchive">Full archives</a></p>
  <p><i>You should follow me on twitter <a href="http://twitter.com/sonnyksimon">here</a>.</i></p>
  <p class="posted" style="color:#666;font-style:italic;background-color:inherit;">February 13, 2019</p>
</div>
<p class="footertag" style="text-align:right">Powered by <a href="http://pancubs.org/">pancubs.org.</a></p>
