<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes, minimum-scale=0.25, maximum-scale=5.0, width=device-width">
<body>
{{ content }}
</body>
</html>
