---
layout: blank
---
<div style="float:right; text-align:right;">
  <h2><a href="./"title="by Sonny Kothapally">weblog</a></h2>
  <small>by <a href="/">Sonny Kothapally</a></small>
</div>
<div class="content">
  <h2 class="topmost">Archives</h2>
  {% for post in site.posts %}
    <p><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%B %-d, %Y" }})</p>
  {% endfor %}
</div>
