<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="Sonny Kothapally is a hacker. He is currently enrolled in a distance learning programme studying computers.">
  <meta property="og:title" content="sonnyksimon">
  <meta property="og:description" content="Sonny Kothapally is a hacker. He is currently enrolled in a distance learning programme studying computers.">
  <meta property="og:url" content="http://www.sonnyksimon.com/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="sonnyksimon">
</head>
<body>
  <h1 class="fronttitle"><a class="hilite" href="{{ page.hilite-url }}">{{ page.fronttitle }}</a></h1>
  <p class="byline" style="margin: 0"><a href="/weblog/">weblog</a> &middot; <a href="http://twitter.com/sonnyksimon">twitter</a> &middot; <a href="/links/">links</a> &middot; <a href="/quotes/">quotes</a></p>
  <div class="body">
  {{ content }}
  </div>
  <address class="byline" style="margin: 0"><p><a href="mailto:me@sonnyksimon.com">me@sonnyksimon.com</a><!-- (<a href="/pgp">pgp</a>)--><br>
  <small style="font-size:0.7em">Original articles on this site are CC <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">BY-NC-SA</a> licensed unless otherwise stated.</small></p></address>
  <address class="byline" style="text-align: right">last updated January 2019</address>
</body>
</html>
