---
layout: blank
---
<div style="float:right; text-align:right">
  <h2><a href="./"title="by Sonny Kothapally">weblog</a></h2>
  <small>by <a href="/">Sonny Kothapally</a></small>
</div>
<div style="max-width:30em;">
  <h1>{{ page.title }}</h1>
  {{ content }}
  <p><i>You should follow me on twitter <a href="http://twitter.com/sonnyksimon">here</a>.</i></p>
  <p style="color:#666;font-style:italic;background-color:inherit;">{{ page.date | date: "%B  %-d, %Y" }}</p>
</div>
<p class="footertag" style="text-align:right">Powered by <a href="http://pancubs.org/">pancubs.org.</a></p>
